<!DOCTYPE html>
<html lang="en">
<head>
    <title>My Dashboard - Welcome</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <!-- External CSS libraries -->
    <link type="text/css" rel="stylesheet" href="../static/assets/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../static/assets/fonts/font-awesome/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="../static/assets/fonts/flaticon/font/flaticon.css">

    <!-- Favicon icon -->
    <link rel="shortcut icon" href="../static/assets/img/favicon.ico" type="image/x-icon" >

    <!-- Google fonts -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800%7CPoppins:400,500,700,800,900%7CRoboto:100,300,400,400i,500,700">

    <!-- Custom Stylesheet -->
    <link type="text/css" rel="stylesheet" href="../static/assets/css/style.css">
    <link rel="stylesheet" type="text/css" id="style_sheet" href="../static/assets/css/skins/default.css">

</head>
<body id="top" class="bg-grea-5">

<div class="page_loader"></div>


<div>
<div class="alert alert-info">
	<i class="fa fa-user"></i> Welcome <strong>{{name}}</strong> !
	<a href="http://localhost:5000/" class="alert-link pull-right"><i class="fa fa-sign-out-alt"></i> Sign Out</a>
</div>

  <img src="../static/assets/img/home.png" class="img-responsive" style="width:100%; height:100%;">
</div>

<!-- External JS libraries -->
<script src="../static/assets/js/jquery-2.2.0.min.js"></script>
<script src="../static/assets/js/popper.min.js"></script>
<script src="../static/assets/js/bootstrap.min.js"></script>
<!-- Custom JS Script -->

</body>
</html>