<form action="/createresponse" method="POST">
                            <div class="alert alert-warning" style="font-size:12px;">

                            <div class="form-group">
                                <label>Your name</label>
                                <input type="text" name="name" class="input-text" placeholder="Your name">
                            </div>

                            <div class="form-group">
                               <button type="submit" class="btn-md btn-theme" name="btnVerify"><i class="fa fa-check-circle"></i> Save !</button>
                            </div>

                            </div>

                        </form>